[submodule "tools/catch2"]
	path = tools/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "tools/imgui"]
	path = tools/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "tools/GLFW"]
	path = tools/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "tools/glm"]
	path = tools/glm
	url = https://github.com/g-truc/glm.git
